
<script setup lang="ts">
import { ref, onMounted, watch } from 'vue';

const props = defineProps({
  config: Object
});

const grid = ref<number[][]>([]);

const { boundingBox, nbCell } = props.config;
const [width, height] = boundingBox.split('x').map(Number);

onMounted(() => {
  generateGrid();
});

watch(() => props.config, () => {
  generateGrid();
});

const generateGrid = () => {
  const newGrid: number[][] = [];
  for (let i = 0; i < height; i++) {
    const row: number[] = [];
    for (let j = 0; j < width; j++) {
      row.push(Math.random() < nbCell / (width * height) ? 1 : 0);
    }
    newGrid.push(row);
  }

  grid.value = newGrid;
};
</script>

<template>
  <div class="grid gap-1" :style="{ gridTemplateColumns: `repeat(${width}, minmax(0, 1fr))` }">
    <div v-for="(row, rowIndex) in grid" :key="rowIndex" class="grid grid-cols-1">
      <div v-for="(cell, cellIndex) in row" :key="cellIndex">
        <div :class="{
          'bg-gray-300 border border-black': cell === 1,
          'bg-white border border-black': cell === 0
        }" class="w-8 h-8"></div>
      </div>
    </div>
  </div>
</template>


<style scoped>

</style>

