<script setup>
import Navbar from '@/components/Navbar.vue'
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const isAuthenticated = ref(false)

const checkAuth = () => {
  if (localStorage.getItem('token') !== null) {
    isAuthenticated.value = true
  }

  if (!isAuthenticated.value) {
    router.push('/login') // Redirect to login page
  }
}

onMounted(() => {
  checkAuth()
})
</script>

<template>
  <Navbar />
  <div class="w-4/5 mx-auto min-h-screen pt-5">
    <slot></slot>
  </div>
</template>

<style scoped></style>
