<script setup>
import Navbar from '@/components/Navbar.vue'
</script>

<template>
  <Navbar />
  <div class="w-4/5 mx-auto min-h-screen pt-5">
    <slot></slot>
  </div>
</template>

<style scoped></style>
