<script setup>
import Navbar from '@/components/Navbar.vue'
import { ref, defineProps, defineEmits } from 'vue'

const aliveColor = ref('#10b981')
const deadColor = ref('#ffffff')

const props = defineProps({
  nextGeneration: Function,
  resetGrid: Function,
  toggleSimulation: Function,
  isRunning: Boolean,
  generationCount: Number,
  intervalValue: Number,
  gridSize: Number
})

const interval = ref(props.intervalValue)
const gridSize = ref(props.gridSize)

const emits = defineEmits(['changeAliveColor', 'changeDeadColor', 'updateInterval'])

// Emit events when color values change
const updateAliveColor = () => {
  emits('changeAliveColor', aliveColor.value)
}

const updateDeadColor = () => {
  emits('changeDeadColor', deadColor.value)
}

const updateInterval = () => {
  emits('updateInterval', interval.value)
}

const updateGridSize = () => {
  emits('updateGridSize', gridSize.value)
}
</script>

<template>
  <div class="drawer lg:drawer-open">
    <input id="drawer-settings" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <Navbar />
      <label
        for="drawer-settings"
        aria-label="open sidebar"
        class="lg:hidden btn btn-square btn-ghost"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75"
          />
        </svg>
      </label>
      <div class="min-h-screen bg-base-200">
        <slot></slot>
      </div>
    </div>
    <div class="drawer-side z-[9999]">
      <label for="drawer-settings" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-100 border-r border-base-200 space-y-2">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Grid cells (Width x Height)</span>
          </label>
          <input
            type="number"
            min="10"
            class="input input-bordered"
            v-model="gridSize"
            @change="updateGridSize"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Interval (ms)</span>
          </label>
          <input
            type="number"
            min="10"
            value="100"
            class="input input-bordered"
            v-model="interval"
            @change="updateInterval"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Alive Cell Color</span>
          </label>
          <input type="color" class="" v-model="aliveColor" @change="updateAliveColor" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Dead Cell Color</span>
          </label>
          <input type="color" class="" v-model="deadColor" @change="updateDeadColor" />
        </div>
        <div class="mt-2">Generation: {{ generationCount }}</div>
        <div class="flex space-x-4 mt-4">
          <button class="btn btn-primary" @click="props.nextGeneration">Next</button>
          <button class="btn btn-secondary" @click="props.resetGrid">Reset</button>
          <button class="btn btn-accent" @click="props.toggleSimulation">
            {{ props.isRunning ? 'Pause' : 'Start' }}
          </button>
        </div>
      </ul>
    </div>
  </div>
</template>

<style scoped></style>
