<script setup>
import Navbar from '@/components/Navbar.vue'

const props = defineProps({
  configurations: Object
})
</script>

<template>
  <div class="drawer lg:drawer-open">
    <input id="drawer-tabs" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <Navbar />
      <label
        for="drawer-tabs"
        aria-label="open sidebar"
        class="sticky top-0 lg:hidden btn btn-square btn-outline"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
          />
        </svg>
      </label>
      <div class="w-4/5 mx-auto min-h-screen">
        <slot></slot>
      </div>
    </div>
    <div class="drawer-side z-50">
      <label for="drawer-tabs" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-100 border-r border-base-200">
        <li v-for="config in configurations" :key="config.id">
          <a :href="`#${config.id}`">{{ config.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped></style>
