<script setup lang="ts">
import { ref, onMounted } from 'vue'
import DashboardLayout from '@/components/layouts/DashboardLayout.vue'
import { useToast } from 'vue-toastification'

interface Configuration {
  id: number
  name: string
  type: string
  boundingBox: string
  nbCell: number
  period?: number
  speed?: number
}

const configurations = ref<Configuration[]>([])
const selectedIds = ref<number[]>([])
const toast = useToast()

const fetchConfigurations = async () => {
  try {
    const response = await fetch('http://0.0.0.0:3001/wiki/', {
      headers: {
        AUTH_TOKEN: localStorage.getItem('token')
      }
    })
    const data = await response.json()
    configurations.value = data.data
  } catch (error) {
    console.error('Failed to fetch configurations:', error)
  }
}

const deleteConfiguration = async (id: number) => {
  try {
    const response = await fetch(`http://0.0.0.0:3001/wiki/${id}`, {
      method: 'DELETE',
      headers: {
        AUTH_TOKEN: localStorage.getItem('token')
      }
    })
    if (response.ok) {
      configurations.value = configurations.value.filter((config) => config.id !== id)

      toast.success('The configuration has been deleted', {
        timeout: 2000
      })
    } else {
      throw new Error('')
    }
  } catch (error) {
    toast.error("Can't delete this configuration", {
      timeout: 2000
    })
  }
}

onMounted(fetchConfigurations)
</script>

<template>
  <DashboardLayout>
    <div class="prose mx-auto">
      <h1 class="text-center">Configurations</h1>
    </div>
    <RouterLink to="/dashboard/nouvelle-configuration" class="mt-5 btn btn-primary btn-outline">
      Ajouter une nouvelle configuration
    </RouterLink>
    <div class="divider divider-primary"></div>
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Bounding Box</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="config in configurations" :key="config.id">
            <td class="font-bold">{{ config.name }}</td>
            <td>{{ config.type }}</td>
            <td>
              {{ config.boundingBox }}
            </td>
            <td class="space-x-2.5">
              <RouterLink
                :to="`/dashboard/edit-configuration/${config.id}`"
                class="btn btn-outline btn-warning"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                  />
                </svg>
              </RouterLink>

              <button @click="deleteConfiguration(config.id)" class="btn btn-outline btn-error">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </DashboardLayout>
</template>

<style scoped></style>
