<script setup lang="ts">
import { ref, onMounted, computed } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import DashboardLayout from '@/components/layouts/DashboardLayout.vue'
import { WikiConfigurationInterface } from '@/interfaces/Wiki/ConfigurationInterface'
import { useToast } from 'vue-toastification'
import { useVuelidate } from '@vuelidate/core'
import { required, minValue, helpers, maxValue } from '@vuelidate/validators'

const route = useRoute()
const router = useRouter()
const configurationId = route.params.id
const toast = useToast()

const formData = ref<WikiConfigurationInterface>({
  name: '',
  type: 'Nature morte',
  boundingBox: '',
  nbCell: 0,
  period: undefined
})

const boundingBox = ref({
  width: 0,
  height: 0,
  nbCell: 0
})

const rulesFormData = computed(() => {
  return {
    name: {
      required: helpers.withMessage('Un nom est requis', required)
    },
    type: {
      required: helpers.withMessage('Un type est requis', required)
    }
  }
})

const rulesBoundingBox = computed(() => {
  return {
    width: {
      required: helpers.withMessage('Une largeur est requise', required),
      minValue: helpers.withMessage(
        'La taille minimale de la largeur doit etre supérieure a 0',
        minValue(1)
      )
    },
    height: {
      required: helpers.withMessage('Une hauteur est requise', required),
      minValue: helpers.withMessage(
        'La taille minimale de la hauteur doit etre supérieure a 0',
        minValue(1)
      )
    },
    nbCell: {
      required: helpers.withMessage('Le nombre de cellues est obligatoire', required),
      maxValue: helpers.withMessage(
        "Passwords don't match",
        maxValue(boundingBox.value.width * boundingBox.value.height)
      )
    }
  }
})

const v1$ = useVuelidate(rulesFormData, formData)
const v2$ = useVuelidate(rulesBoundingBox, boundingBox)

const fetchConfiguration = async () => {
  try {
    const response = await fetch(`http://0.0.0.0:3001/wiki/${configurationId}`)
    const data = await response.json()

    const boundingBoxData = data.data.boundingBox.split('x')

    formData.value = {
      name: data.data.name,
      type: data.data.type,
      boundingBox: data.data.boundingBox,
      nbCell: data.data.nbCell,
      period: data.data.period
    }

    boundingBox.value = {
      width: parseInt(boundingBoxData[0]),
      height: parseInt(boundingBoxData[1]),
      nbCell: parseInt(data.data.nbCell)
    }
  } catch (error) {
    toast.error('Impossible de récupérer la configuration : ' + error.message, {
      timeout: 2000
    })
  }
}

const handleSubmit = async () => {
  try {
    if (!(await v1$.value.$validate()) || !(await v2$.value.$validate())) {
      toast.error("Le formulaire n'est pas valide", {
        timeout: 2000
      })
      return
    }
    formData.value.boundingBox = boundingBox.value.width + 'x' + boundingBox.value.height
    formData.value.nbCell = boundingBox.value.nbCell

    const response = await fetch(`http://0.0.0.0:3001/wiki/${configurationId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
        AUTH_TOKEN: localStorage.getItem('token')
      },
      body: JSON.stringify(formData.value)
    })

    if (response.ok) {
      toast.success('Configuration modifiée', {
        timeout: 2000
      })

      router.push('/dashboard')
    } else {
      const errorData = await response.json()
      toast.error('Impossible de modifier la configuration : ' + errorData.message, {
        timeout: 2000
      })
    }
  } catch (error) {
    toast.error('Impossible de modifier la configuration : ' + error.message, {
      timeout: 2000
    })
  }
}

onMounted(fetchConfiguration)
</script>

<template>
  <DashboardLayout>
    <div class="prose mx-auto mb-5">
      <h1 class="text-center">Modification de la configuration</h1>
    </div>
    <div class="w-full space-y-3">
      <label class="form-control w-full max-w-xs mx-auto">
        <div class="label">
          <span class="label-text">Nom</span>
        </div>
        <input
          v-model="formData.name"
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          :class="{
            'input-error': v1$.name.$error
          }"
        />
        <div class="label" v-if="v1$.name.$error">
          <span class="label-text text-error font-semibold">Cette valeur n'est pas valide</span>
        </div>
      </label>

      <label class="form-control w-full max-w-xs mx-auto">
        <div class="label">
          <span class="label-text">Type de configuration</span>
        </div>
        <select
          v-model="formData.type"
          class="select select-bordered join-item"
          :class="{
            'select-error': v1$.type.$error
          }"
        >
          <option value="Nature morte">Nature morte</option>
          <option value="Oscillateurs">Oscillateurs</option>
          <option value="Vaisseaux">Vaisseaux</option>
          <option value="Guns">Guns</option>
        </select>
        <div class="label" v-if="v1$.type.$error">
          <span class="label-text text-error font-semibold">Cette valeur n'est pas valide</span>
        </div>
      </label>

      <label class="form-control w-full max-w-xs mx-auto">
        <div class="label">
          <span class="label-text">Hauteur</span>
        </div>
        <div class="join w-full max-w-xs">
          <input
            v-model="boundingBox.height"
            type="number"
            placeholder="Height"
            class="input input-bordered w-full max-w-xs"
            :class="{
              'input-error': v2$.height.$error
            }"
          />
        </div>
        <div class="label" v-if="v2$.height.$error">
          <span class="label-text text-error font-semibold">Cette valeur n'est pas valide</span>
        </div>
      </label>

      <label class="form-control w-full max-w-xs mx-auto">
        <div class="label">
          <span class="label-text">Largeur</span>
        </div>
        <div class="join w-full max-w-xs">
          <input
            v-model="boundingBox.width"
            type="number"
            placeholder="Width"
            class="input input-bordered w-full max-w-xs"
            :class="{
              'input-error': v2$.width.$error
            }"
          />
        </div>
        <div class="label" v-if="v2$.width.$error">
          <span class="label-text text-error font-semibold">Cette valeur n'est pas valide</span>
        </div>
      </label>

      <label class="form-control w-full max-w-xs mx-auto">
        <div class="label">
          <span class="label-text">Nombre de cellules</span>
        </div>
        <input
          v-model.number="boundingBox.nbCell"
          type="number"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
          :class="{
            'input-error': v2$.nbCell.$error
          }"
        />
        <div class="label" v-if="v2$.nbCell.$error">
          <span class="label-text text-error font-semibold"
            >La valeur maximale de ce champ ne doit pas dépassé longeur*largeur</span
          >
        </div>
      </label>

      <label class="form-control w-full max-w-xs mx-auto">
        <div class="label">
          <span class="label-text">Période</span>
        </div>
        <input
          v-model.number="formData.period"
          type="number"
          placeholder="Type here"
          class="input input-bordered w-full max-w-xs"
        />
      </label>

      <div class="form-control w-full max-w-xs mx-auto">
        <button @click="handleSubmit" class="btn btn-primary mx-auto w-full">
          Update Configuration
        </button>
      </div>
    </div>
  </DashboardLayout>
</template>

<style scoped></style>
