<script setup>
import { RouterView } from 'vue-router'
import FooterComponent from '@/FooterComponent.vue'
</script>

<template>
  <RouterView />
  <FooterComponent />
</template>

<style scoped></style>
