<script setup>
import HomeLayout from '@/components/layouts/HomeLayout.vue'
</script>

<template>
  <HomeLayout>
    <section class="">
      <div class="hero bg-base-100 min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Le jeu de la vie</h1>
            <p class="py-6">Bienvenue dans le monde du Jeu de la Vie</p>
            <p class="py-6">
              Explorez les mystères de ce célèbre automate cellulaire avec notre simulateur
              interactif.
            </p>
            <RouterLink to="/rules" class="btn btn-primary">Get Started</RouterLink>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-12">
      <h3 class="text-xl font-bold mb-4">Caractéristiques</h3>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Interface intuitive</h2>
            <p>
              Profitez d'une interface utilisateur simple et conviviale pour configurer et observer
              vos simulations.
            </p>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Simulation rapide</h2>
            <p>Obtenez des résultats instantanés grâce à notre moteur de simulation optimisé.</p>
          </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Exploration illimitée</h2>
            <p>Créez, modifiez et explorez des modèles sans aucune limite.</p>
          </div>
        </div>
      </div>
    </section>
  </HomeLayout>
</template>
