<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import HomeLayout from '@/components/layouts/HomeLayout.vue'
import { useToast } from 'vue-toastification'

const username = ref('')
const password = ref('')
const errorMessage = ref('')
const router = useRouter()
const toast = useToast()

const login = async () => {
  try {
    const response = await fetch('http://0.0.0.0:3001/user/login', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ username: username.value, password: password.value })
    })

    if (!response.ok) {
      throw new Error(await response.text())
    }

    const data = await response.json()
    localStorage.setItem('token', data.token)

    router.push({ path: '/dashboard' })

    toast.success('You are logged in', {
      timeout: 2000
    })
  } catch (error) {
    toast.error('Erreur', {
      timeout: 2000
    })

    errorMessage.value = error.message || 'Login failed'
  }
}
</script>

<template>
  <HomeLayout>
    <div class="prose mx-auto">
      <h1 class="text-center">Login</h1>
      <div v-if="errorMessage" class="text-red-500 mb-4">{{ errorMessage }}</div>

      <div class="form-control">
        <label class="label" for="inputEmail">
          <span class="label-text">Email</span>
        </label>
        <input
          v-model="username"
          type="email"
          id="username"
          class="w-full p-2 input input-bordered"
          required
          autofocus
        />
      </div>

      <div class="form-control">
        <label class="label" for="inputEmail">
          <span class="label-text">Password</span>
        </label>
        <input
          v-model="password"
          type="password"
          id="password"
          class="w-full p-2 input input-bordered"
          required
          autofocus
        />
      </div>
      <button @click="login" class="btn btn-primary mt-5 w-full">Login</button>
    </div>
  </HomeLayout>
</template>

<style scoped></style>
