<script setup>
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import HomeLayout from '@/components/layouts/HomeLayout.vue'
import { useToast } from 'vue-toastification'
import { email, helpers, minLength, required, sameAs } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'

const errorMessage = ref('')
const router = useRouter()
const toast = useToast()

const registerFormData = ref({
  email: '',
  password: '',
  password_confirmation: ''
})

const rules = computed(() => {
  let user_password = registerFormData.value.password
  return {
    email: {
      required: helpers.withMessage('Un email est requis', required),
      email: helpers.withMessage("Le format de l'email n'est pas valide", email)
    },
    password: {
      required: helpers.withMessage('Un type est requis', required),
      minLength: minLength(8)
    },
    password_confirmation: {
      required: helpers.withMessage('Un type est requis', required),
      minLength: helpers.withMessage("Passwords don't match", sameAs(user_password))
    }
  }
})

const v1$ = useVuelidate(rules, registerFormData)

const register = async () => {
  try {
    if (!(await v1$.value.$validate())) {
      toast.error('Impossible de créer votre compte, veuillez vérifier les données saisies.', {
        timeout: 2000
      })

      return
    }

    const response = await fetch('http://0.0.0.0:3001/user/register', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        username: registerFormData.value.email,
        password: registerFormData.value.password
      })
    })

    if (!response.ok) {
      throw new Error(await response.text())
    }

    toast.success('Your account has been created, you can now log in', {
      timeout: 2000
    })

    await router.push('/login')
  } catch (error) {
    toast.error("Can't create your account", {
      timeout: 2000
    })
  }
}
</script>

<template>
  <HomeLayout>
    <div class="prose mx-auto">
      <h1 class="text-center">Register</h1>

      <div class="form-control">
        <label class="label" for="inputEmail">
          <span class="label-text">Email</span>
        </label>
        <input
          v-model="registerFormData.email"
          type="email"
          id="username"
          class="w-full p-2 input input-bordered"
          :class="{
            'input-error': v1$.email.$error
          }"
          required
          autofocus
        />
        <div class="label" v-if="v1$.email.$error">
          <span class="label-text text-error font-semibold"
            >Le format de l'email n'est pas valide.</span
          >
        </div>
      </div>

      <div class="form-control">
        <label class="label" for="inputEmail">
          <span class="label-text">Password</span>
        </label>
        <input
          v-model="registerFormData.password"
          type="password"
          id="password"
          class="w-full p-2 input input-bordered"
          :class="{
            'input-error': v1$.password.$error
          }"
          required
          autofocus
        />
        <div class="label" v-if="v1$.password.$error">
          <span class="label-text text-error font-semibold"
            >Le mot de passe n'est pas valide, il doit contenir au moins 8 caractères.</span
          >
        </div>
      </div>

      <div class="form-control">
        <label class="label" for="inputEmail">
          <span class="label-text">Password confirmation</span>
        </label>
        <input
          v-model="registerFormData.password_confirmation"
          type="password"
          id="password"
          class="w-full p-2 input input-bordered"
          :class="{
            'input-error': v1$.password_confirmation.$error
          }"
          required
          autofocus
        />
        <div class="label" v-if="v1$.password_confirmation.$error">
          <span class="label-text text-error font-semibold"
            >Les mots de passe ne correspondent pas.</span
          >
        </div>
      </div>

      <button @click="register" class="btn btn-primary mt-5 w-full">Register</button>
    </div>
  </HomeLayout>
</template>

<style scoped></style>
