<script setup>
import HomeLayout from '@/components/layouts/HomeLayout.vue'
</script>

<template>
  <HomeLayout>
    <div class="prose mx-auto">
      <h1>Les Règles du Jeu de la Vie de Conway</h1>
      <p>
        L'univers du Jeu de la Vie est une grille orthogonale bidimensionnelle infinie de cellules
        carrées, chacune étant à tout moment dans l'un des deux états possibles : "vivante" (ou
        "allumée") ou "morte" (ou "éteinte"). Chaque cellule interagit avec ses huit voisines, qui
        sont les cellules directement adjacentes horizontalement, verticalement ou diagonalement. À
        chaque étape temporelle, les transitions suivantes se produisent :
      </p>
      <ul>
        <li>
          Toute cellule vivante avec moins de deux voisines vivantes meurt (sous-population ou
          exposition).
        </li>
        <li>
          Toute cellule vivante avec plus de trois voisines vivantes meurt (surpopulation ou
          surpeuplement).
        </li>
        <li>
          Toute cellule vivante avec deux ou trois voisines vivantes reste vivante pour la
          génération suivante.
        </li>
        <li>Toute cellule morte avec exactement trois voisines vivantes devient vivante.</li>
      </ul>
      <p>
        L'évolution animée d'un motif connu sous le nom de "deux-glider octomino", avec une
        enveloppe mise en évidence (les cellules qui étaient vivantes à un moment antérieur).
        (cliquez ci-dessus pour ouvrir LifeViewer)
      </p>
      <p>
        Le motif initial constitue la "graine" du système. La première génération est créée en
        appliquant les règles ci-dessus simultanément à chaque cellule de la graine — les naissances
        et les décès se produisent simultanément, et le moment discret où cela se produit est
        parfois appelé un "tick". (En d'autres termes, chaque génération est une fonction pure de
        celle qui la précède.) Les règles continuent d'être appliquées de manière répétée pour créer
        des générations successives.
      </p>
      <a href="https://conwaylife.com/wiki/Conway%27s_Game_of_Life#Rules">
        - Règles du jeu de la vie
      </a>
    </div>
  </HomeLayout>
</template>

<style scoped></style>
