<script setup>
import SimulatorLayout from '@/components/layouts/SimulatorLayout.vue'
import { ref } from 'vue'

let gridSize = ref(30)
const cells = ref(Array(gridSize.value * gridSize.value).fill(false))
const generationCount = ref(0)
const interval = ref(100)
const isRunning = ref(false)

const aliveColor = ref('#10b981')
const deadColor = ref('#ffffff')

const getIndex = (x, y) => x + y * gridSize.value

const nextGeneration = () => {
  const newCells = Array(gridSize.value * gridSize.value).fill(false)
  for (let y = 0; y < gridSize.value; y++) {
    for (let x = 0; x < gridSize.value; x++) {
      const idx = getIndex(x, y)
      const aliveNeighbors = getAliveNeighbors(x, y)
      if (cells.value[idx]) {
        newCells[idx] = aliveNeighbors === 2 || aliveNeighbors === 3
      } else {
        newCells[idx] = aliveNeighbors === 3
      }
    }
  }
  cells.value = newCells
  generationCount.value++
}

const getAliveNeighbors = (x, y) => {
  let count = 0
  for (let dy = -1; dy <= 1; dy++) {
    for (let dx = -1; dx <= 1; dx++) {
      if (dx === 0 && dy === 0) continue
      const nx = x + dx
      const ny = y + dy
      if (nx >= 0 && ny >= 0 && nx < gridSize.value && ny < gridSize.value) {
        count += cells.value[getIndex(nx, ny)] ? 1 : 0
      }
    }
  }
  return count
}

const resetGrid = () => {
  cells.value = Array(gridSize.value * gridSize.value).fill(false)
  generationCount.value = 0
  clearInterval(interval.value)
  interval.value = 100
  isRunning.value = false
  gridSize.value = 30
}

const toggleSimulation = () => {
  if (isRunning.value) {
    clearInterval(interval.value)
  } else {
    interval.value = setInterval(nextGeneration, interval.value)
  }
  isRunning.value = !isRunning.value
}

// Update cell colors when emitted from SimulatorLayout
const changeAliveColor = (color) => {
  aliveColor.value = color
}

const changeDeadColor = (color) => {
  deadColor.value = color
}

const changeInterval = (newInterval) => {
  interval.value = newInterval
}

const changeGridSize = (newGridSize) => {
  gridSize.value = newGridSize
}
</script>

<template>
  <SimulatorLayout
    :gridSize="gridSize"
    :nextGeneration="nextGeneration"
    :resetGrid="resetGrid"
    :toggleSimulation="toggleSimulation"
    :isRunning="isRunning"
    @changeAliveColor="changeAliveColor"
    @changeDeadColor="changeDeadColor"
    @updateInterval="changeInterval"
    @updateGridSize="changeGridSize"
    :generation-count="generationCount"
    :interval-value="interval"
  >
    <div
      :style="{ gridTemplateColumns: `repeat(${gridSize}, minmax(0, 1fr))` }"
      class="grid w-full h-full transition-all duration-200"
    >
      <div
        v-for="(cell, index) in cells"
        :key="index"
        @click="cells[index] = !cells[index]"
        :style="{ backgroundColor: cells[index] ? aliveColor : deadColor }"
        class="border border-black/50 w-auto h-auto"
      ></div>
    </div>
  </SimulatorLayout>
</template>

<style scoped></style>
