<script setup lang="ts">
import { ref, onMounted } from 'vue'
import WikiLayout from '@/components/layouts/WikiLayout.vue'
import ConfigurationSimulator from '@/components/ConfigurationSimulator.vue'
import { useToast } from 'vue-toastification'

interface Configuration {
  id: number
  name: string
  type: string
  boundingBox: string
  nbCell: number
  period?: number
  speed?: number
}

const configurations = ref<Configuration[]>([])
const error = ref<string | null>(null)
const toast = useToast()

onMounted(async () => {
  try {
    const response = await fetch('http://localhost:3001/wiki')
    if (!response.ok) {
      throw new Error('Failed to fetch configurations')
    }
    const result = await response.json()
    if (result.status === 200) {
      configurations.value = result.data
    } else {
      throw new Error('Failed to fetch configurations')
    }
  } catch (err) {
    toast.error('Failed to fetch configurations', {
      timeout: 2000
    })

    error.value = err.message
  }
})
</script>

<template>
  <WikiLayout :configurations="configurations">
    <div class="w-full space-y-3 pt-8">
      <h1 class="text-3xl font-bold text-center">Configurations</h1>
      <div v-if="error" class="alert alert-error">
        <span>{{ error }}</span>
      </div>
      <div v-else>
        <div
          v-for="config in configurations"
          :key="config.id"
          class="card w-full bg-base-100 mb-4 border-base-200 border-2"
        >
          <div class="card-body">
            <div class="flex justify-between">
              <div>
                <h2 class="card-title" :id="config.id">{{ config.name }}</h2>
                <p>Type: {{ config.type }}</p>
                <p>Bounding Box: {{ config.boundingBox }}</p>
                <p>Nombre de cellules: {{ config.nbCell }}</p>
                <p v-if="config.period">Période: {{ config.period }}</p>
                <p v-if="config.speed">Vitesse: {{ config.speed }}</p>
              </div>
              <ConfigurationSimulator :config="config" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </WikiLayout>
</template>

<style scoped></style>
